<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Category Directory</title>
</head>

<body>

<nav class = "navbar navbar-default navbar-expand-lg bg-warning">
    <div class = "container-fluid">
        <ul class = "nav navbar-nav">
            <li class = "nav-item"><span sec:authentication="name"></span></li>
        </ul>
        <span class = "navbar-brand text-center">CROSSWORDS</span>
        <ul class = "nav navbar-nav navbar-right">
            <li class = "nav-item"><a class = "nav-link" th:href = "@{/admins/category/list/page/1}"> Categories </a></li>
            <li class = "nav-item"><a class = "nav-link" th:href = "@{/admins/book/list/page/1}"> Books </a></li>
            <li class = "nav-item"><a class = "nav-link" th:href = "@{/admins/customers/list/page/1}"> Customers </a></li>
            <li class = "nav-item"><a class = "nav-link" th:href = "@{/admins/orders/list}"> Orders </a></li>
            <li class = "nav-item">
                <form action="#" th:action="@{/logout}"
                      method="POST">
                    <input type="submit" value="Logout" class="nav-link btn btn-outline-success my-2 my-sm-0" />
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <nav class = "navbar navbar-default navbar-expand-lg bg-dark mt-3 mb-3">
        <div class = "container-fluid">
            <ul class = "nav navbar-nav">
                <li class = "nav-item">
                    <!-- Add a button -->
                    <a th:href = "@{/admins/category/add}"
                       class = "nav-link btn btn-outline-success my-2 my-sm-0">
                        Add
                    </a>
                </li>
            </ul>
            <span class = "navbar-brand text-center text-white">CATEGORIES</span>
            <ul class = "nav navbar-nav">
                <li class = "nav-item">
                    <a th:href = "@{/admins/}" class = "nav-link"> Home </a>
                </li>
            </ul>
        </div>
    </nav>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Category Name</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempCategory : ${categories}">

            <td th:text="${tempCategory.categoryName}" />

            <!-- Add update button/link -->
            <td>
                <a th:href = "@{/admins/category/update(categoryId=${tempCategory.categoryId})}"
                   class = "btn btn-info btn-sm">
                    Update
                </a>
                <a th:href = "@{/admins/category/delete(categoryId=${tempCategory.categoryId})}"
                   class = "btn btn-danger btn-sm"
                   onclick = "if(!(confirm('Are you sure you want to delete this Category?'))) return false">
                    Delete
                </a>
            </td>

            <td>
                <a th:href = "@{/admins/category/books(categoryId=${tempCategory.categoryId})}"
                   class = "btn btn-info btn-sm">
                    Books
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav>
        <ul class="pagination justify-content-center">

            <li class="page-item"><a class="page-link" th:href="@{/admins/category/list/page/1}">1</a></li>
            <li class="page-item"><a class="page-link" th:href="@{/admins/category/list/page/2}">2</a></li>
            <li class="page-item"><a class="page-link" th:href="@{/admins/category/list/page/3}">3</a></li>
        </ul>
    </nav>

</div>

</body>
</html>



