<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Order confirmation</title>
</head>

<body>
<nav class = "navbar navbar-default navbar-expand-lg bg-warning py-4">
    <div class = "container-fluid">
        <ul class = "nav navbar-nav">
            <li class = "nav-item"><span sec:authentication="name"></span></li>
        </ul>
        <span class = "navbar-brand">CROSSWORDS</span>
        <ul class = "nav navbar-nav navbar-right">
            <li class = "nav-item"><a class = "nav-link" th:href = "@{/customers/orders/list}"> My Orders </a></li>
            <li class = "nav-item">
                <a class = "nav-link" th:href = "@{/customers/page/1}"> Home </a></li>
            </li>
            <li class = "nav-item">
                <form action="#" th:action="@{/logout}"
                      method="POST">
                    <input type="submit" value="Logout" class="nav-link btn btn-outline-success my-2 my-sm-0" />
                </form>
            </li>
        </ul>
    </div>
</nav>
    <div class = "container">
        <div class ="text-center border border-secondary rounded m-3 p-3">
            <h2>Your Order has been Confirmed!</h2>
        </div>
    </div>

</body>
</html>
