<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Additional Details</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Reference Bootstrap files -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
		.error {color:red}
	</style>

</head>

<body>

<div>

    <div id="loginbox" style="margin-top: 50px;"
         class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">

        <div class="panel panel-primary">

            <div class="panel-heading">
                <div class="panel-title">Additional Details</div>
            </div>

            <div style="padding-top: 30px" class="panel-body">

                <!-- Registration Form -->
                <form th:action="@{/register/processCustomerForm}"
                      th:object="${customer}" method="POST"
                      class="form-horizontal">

                    <!-- Customer name -->
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" th:field="*{customerName}" placeholder="Customer Name (*)" class="form-control" />
                    </div>

                    <!--<div th:if="${#fields.hasErrors('userName')}"
                         style="margin-bottom: 25px" class="text-danger">
                        <ul>
                            <li th:each="err : ${#fields.errors('userName')}" th:text="'User name ' + ${err}" />
                        </ul>
                    </div> -->


                    <!-- Email -->
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="text" th:field="*{customerEmail}" placeholder="Email (*)" class="form-control" />
                    </div>
                    <!-- <div th:if="${#fields.hasErrors('password')}"
                         style="margin-bottom: 25px" class="text-danger">
                        <ul>
                            <li th:each="err : ${#fields.errors('password')}" th:text="'Password ' + ${err}" />
                        </ul>
                    </div> -->

                    <!-- Address -->
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="text" th:field="*{customerAddress}" placeholder="Address (*)" class="form-control" />
                    </div>
                    <!-- <div th:if="${#fields.hasErrors('matchingPassword')}"
                         style="margin-bottom: 25px" class="text-danger">
                        <ul>
                            <li th:each="err : ${#fields.errors('matchingPassword')}" th:text="'Password ' + ${err}" />
                        </ul>
                    </div> -->


                    <!-- Phone Number -->
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" th:field="*{phoneNo}" placeholder="Phone Number (*)" class="form-control" />
                    </div>
                    <!-- <div th:if="${#fields.hasErrors('firstName')}"
                         style="margin-bottom: 25px" class="text-danger">
                        <ul>
                            <li th:each="err : ${#fields.errors('firstName')}" th:text="'First name ' + ${err}" />
                        </ul>
                    </div> -->

                    <!-- City -->
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" th:field="*{city}" placeholder="City (*)" class="form-control" th:errorclass="fieldError" />
                    </div>
                   <!--  <div th:if="${#fields.hasErrors('lastName')}"
                         style="margin-bottom: 25px" class="text-danger">
                        <ul>
                            <li th:each="err : ${#fields.errors('lastName')}" th:text="'Last name ' + ${err}" />
                        </ul>
                    </div> -->

                    <!-- Country -->
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" th:field="*{country}" placeholder="Country (*)" class="form-control" />
                    </div>
                    <!-- <div th:if="${#fields.hasErrors('email')}"
                         style="margin-bottom: 25px" class="text-danger">
                        <ul>
                            <li th:each="err : ${#fields.errors('email')}" th:text="'Email ' + ${err}" />
                        </ul>
                    </div> -->

                    <!-- Zip-Code -->
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" th:field="*{zipCode}" placeholder="Zip Code (*)" class="form-control" />
                    </div>

                    <!-- User ID -->
                    <input type = "hidden" th:field = "*{user.id}" th:value = "${recentUser.id}"/>
                    <input type = "hidden" th:field = "*{user.userName}" th:value = "${recentUser.userName}" />
                    <input type = "hidden" th:field = "*{user.password}" th:value = "${recentUser.password}"/>
                    <input type = "hidden" th:field = "*{user.firstName}" th:value = "${recentUser.firstName}"/>
                    <input type = "hidden" th:field = "*{user.lastName}"  th:value = "${recentUser.lastName}" />
                    <input type = "hidden" th:field = "*{user.email}"  th:value = "${recentUser.email}" />

                    <!-- Register Button -->
                    <div style="margin-top: 10px" class="form-group">
                        <div class="col-sm-6 controls">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </div>

                </form>

            </div>

        </div>

    </div>

</div>

</body>
</html>